.card {
    width:300px;
    background: $back;
    height: 472px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media screen and(min-width: 900px) {
        width: 342px;
    }
}